<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.video.mapper.device.VideoDeviceInfoMapper">
    <!--
        代码生成器 by 2025-05-15 17:00:56
        自定义sql建议在base文件夹同级新建ext文件夹，并新建同名且同namespace的xml进行编写。方便修改字段时，重新生成此文件。
    -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.video.entity.device.VideoDeviceInfo">
        <id column="id" property="id"/>
        <result column="device_identification" property="deviceIdentification"/>
        <result column="device_name" property="deviceName"/>
        <result column="custom_name" property="customName"/>
        <result column="media_identification" property="mediaIdentification"/>
        <result column="manufacturer" property="manufacturer"/>
        <result column="model" property="model"/>
        <result column="firmware" property="firmware"/>
        <result column="transport" property="transport"/>
        <result column="stream_mode" property="streamMode"/>
        <result column="online_status" property="onlineStatus"/>
        <result column="register_time" property="registerTime"/>
        <result column="keepalive_time" property="keepaliveTime"/>
        <result column="ip" property="ip"/>
        <result column="port" property="port"/>
        <result column="wan_ip" property="wanIp"/>
        <result column="lan_ip" property="lanIp"/>
        <result column="host_address" property="hostAddress"/>
        <result column="expires" property="expires"/>
        <result column="subscribe_cycle_for_catalog" property="subscribeCycleForCatalog"/>
        <result column="subscribe_cycle_for_mobile_position" property="subscribeCycleForMobilePosition"/>
        <result column="subscribe_cycle_for_alarm" property="subscribeCycleForAlarm"/>
        <result column="mobile_position_submission_interval" property="mobilePositionSubmissionInterval"/>
        <result column="charset" property="charset"/>
        <result column="ssrc_check" property="ssrcCheck"/>
        <result column="geo_coord_sys" property="geoCoordSys"/>
        <result column="sdp_ip" property="sdpIp"/>
        <result column="local_ip" property="localIp"/>
        <result column="password" property="password"/>
        <result column="as_message_channel" property="asMessageChannel"/>
        <result column="keepalive_interval_time" property="keepaliveIntervalTime"/>
        <result column="keepalive_timeout_count" property="keepaliveTimeoutCount"/>
        <result column="position_capability" property="positionCapability"/>
        <result column="broadcast_push_after_ack" property="broadcastPushAfterAck"/>
        <result column="ability" property="ability"/>
        <result column="extend_params" property="extendParams"/>
        <result column="remark" property="remark"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="created_org_id" property="createdOrgId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, device_identification, device_name, custom_name, media_identification, manufacturer, 
        model, firmware, transport, stream_mode, online_status, register_time, 
        keepalive_time, ip, port, wan_ip, lan_ip, host_address, 
        expires, subscribe_cycle_for_catalog, subscribe_cycle_for_mobile_position, subscribe_cycle_for_alarm, mobile_position_submission_interval, charset, 
        ssrc_check, geo_coord_sys, sdp_ip, local_ip, password, as_message_channel, 
        keepalive_interval_time, keepalive_timeout_count, position_capability, broadcast_push_after_ack, ability, extend_params, 
        remark, created_time, created_by, updated_time, updated_by, created_org_id

    </sql>

</mapper>
