<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.video.mapper.device.VideoDeviceChannelMapper">
    <!--
        代码生成器 by 2025-05-15 17:09:48
        自定义sql建议在base文件夹同级新建ext文件夹，并新建同名且同namespace的xml进行编写。方便修改字段时，重新生成此文件。
    -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.video.entity.device.VideoDeviceChannel">
        <id column="id" property="id"/>
        <result column="device_identification" property="deviceIdentification"/>
        <result column="channel_identification" property="channelIdentification"/>
        <result column="stream_identification" property="streamIdentification"/>
        <result column="channel_type" property="channelType"/>
        <result column="stream_type" property="streamType"/>
        <result column="channel_name" property="channelName"/>
        <result column="manufacturer" property="manufacturer"/>
        <result column="model" property="model"/>
        <result column="block" property="block"/>
        <result column="province_code" property="provinceCode"/>
        <result column="city_code" property="cityCode"/>
        <result column="region_code" property="regionCode"/>
        <result column="full_address" property="fullAddress"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="safety_way" property="safetyWay"/>
        <result column="register_way" property="registerWay"/>
        <result column="cert_num" property="certNum"/>
        <result column="cert_status" property="certStatus"/>
        <result column="cert_invalid_reason_code" property="certInvalidReasonCode"/>
        <result column="cert_expiry_time" property="certExpiryTime"/>
        <result column="secrecy" property="secrecy"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="port" property="port"/>
        <result column="password" property="password"/>
        <result column="online_status" property="onlineStatus"/>
        <result column="has_audio" property="hasAudio"/>
        <result column="ptz_type" property="ptzType"/>
        <result column="position_type" property="positionType"/>
        <result column="room_type" property="roomType"/>
        <result column="use_type" property="useType"/>
        <result column="supply_light_type" property="supplyLightType"/>
        <result column="direction_type" property="directionType"/>
        <result column="resolution" property="resolution"/>
        <result column="download_speed" property="downloadSpeed"/>
        <result column="svc_space_support_mod" property="svcSpaceSupportMod"/>
        <result column="svc_time_support_mode" property="svcTimeSupportMode"/>
        <result column="extend_params" property="extendParams"/>
        <result column="remark" property="remark"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="created_org_id" property="createdOrgId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, device_identification, channel_identification, stream_identification, channel_type, stream_type, 
        channel_name, manufacturer, model, block, province_code, city_code, 
        region_code, full_address, latitude, longitude, safety_way, register_way, 
        cert_num, cert_status, cert_invalid_reason_code, cert_expiry_time, secrecy, ip_address, 
        port, password, online_status, has_audio, ptz_type, position_type, 
        room_type, use_type, supply_light_type, direction_type, resolution, download_speed, 
        svc_space_support_mod, svc_time_support_mode, extend_params, remark, created_time, created_by, 
        updated_time, updated_by, created_org_id
    </sql>

</mapper>
