<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.empowerment.mapper.EmpowermentRecordMapper">
    <!--
        代码生成器 by 2023-09-15 17:20:27
        自定义sql建议在base文件夹同级新建ext文件夹，并新建同名且同namespace的xml进行编写。方便修改字段时，重新生成此文件。
    -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.empowerment.entity.EmpowermentRecord">
        <id column="id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="empowerment_identification" property="empowermentIdentification"/>
        <result column="empowerment_type" property="empowermentType"/>
        <result column="startTime" property="startTime"/>
        <result column="endTime" property="endTime"/>
        <result column="outcome" property="outcome"/>
        <result column="feedback" property="feedback"/>
        <result column="status" property="status"/>
        <result column="version" property="version"/>
        <result column="dependencies" property="dependencies"/>
        <result column="remark" property="remark"/>
        <result column="deleted" property="deleted"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="created_org_id" property="createdOrgId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, empowerment_identification, empowerment_type, startTime, endTime, 
        outcome, feedback, status, version, dependencies, remark, deleted,
        created_time, created_by, updated_time, updated_by, created_org_id
    </sql>

    <!-- 逻辑删除条件 - 可在其他SQL中引用 -->
    <sql id="LogicDelete_Condition">
        <if test="true">deleted = 0</if>
    </sql>

</mapper>
