<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.template.mapper.ProjectTemplateMapper">
    <!--
        代码生成器 by 2023-05-17 13:45:51
        自定义sql建议在base文件夹同级新建ext文件夹，并新建同名且同namespace的xml进行编写。方便修改字段时，重新生成此文件。
    -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.template.entity.ProjectTemplate">
        <id column="id" property="id"/>
        <result column="template_identification" property="templateIdentification"/>
        <result column="template_name" property="templateName"/>
        <result column="status" property="status"/>
        <result column="index_image_id" property="indexImageId"/>
        <result column="content" property="content"/>
        <result column="remark" property="remark"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="created_org_id" property="createdOrgId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, template_identification, template_name, status, index_image_id, content, remark,
        created_time, created_by, updated_time, updated_by, created_org_id
    </sql>

    <!-- 不包含content字段的查询列 -->
    <sql id="Base_Column_List_Without_Content">
        id, template_identification, template_name, status, index_image_id, remark,
        created_time, created_by, updated_time, updated_by, created_org_id
    </sql>
    <!-- 详情查询（包含content） -->
    <select id="getByTemplateIdentification" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from view_project_template
        where template_identification = #{templateIdentification}
    </select>

</mapper>
